# Sample systemd service file for tetra-bluestation
#
# Installation: (as root or with sudo)
# - copy file to "/etc/systemd/system"
# - adapt your user/group and paths, sample assumes:
#   - user/group pi,
#   - installation in /home/pi/tetra-bluestation
#   - configuration in /home/pi/bluestation-config.toml
# - execute "systemctl daemon-reload"
#
# Usage:
# - start service with "systemctl start tetra-bluestation.service"
# - show state with "systemctl status tetra-bluestation.service"
# - stop service with "systemctl stop tetra-bluestation.service"
# - to enable start at boot, execute: "systemctl enable tetra-bluestation.service"
# - to disable start at boot, execute: "systemctl disable tetra-bluestation.service"
# - see log with "journalctl -f -t chrt"

[Unit]
Description=TETRA BlueStation base station service
Requires=network.target

[Service]
User=pi
Group=pi
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=73
Type=simple
WorkingDirectory=/home/pi/tetra-bluestation/
ExecStart=/home/pi/tetra-bluestation/target/release/tetra-bluestation /home/pi/bluestation-config.toml
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
